@charset "UTF-8";

:root {
    --spacing: 0.25rem;

    --txwhite: #e7e7e7;
    --txgray: #7c7c7c;
    --bgbottomblack: #0f0f15;
    --bgupperblack: #151515;
    --input-bg: #000;
    --input-border: #595959;
    --quotegray: #1e1e1e;
    --borderblue: #3a67ac;
    --title-blue: #6a81ff;
    --link-blue: #9eadff;
    --cyan: #00ffe7;
    --color-border: #2d2828;
    --color-fade: hsl(0, 0%, 83.1%);
    --color-blue-fade: #252550;
    --color-gray-light: hsl(0, 0%, 6.7%);

    --contentlinespacing: 1.5rem;
    --contentmarginright: 1.625rem;
    --default-mobile: 1.3rem 0;
    --outerwidth: 62.5rem;
    --bar-width: 18.75rem;
    --post-width: 56.25rem;
    --upperpadding: 0 1.25rem 1.25rem 1.25rem;
    --outer-left-margin: 8%;
    --border-radius: 19px;
    --mainmargin: 1.25rem var(--outer-left-margin) 1.25rem var(--outer-left-margin);
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-family: var(--font-sans);
}

body {
    color: var(--txwhite);
    font-size: 1rem;
    background-color: #0f0f0f;
    background-attachment: fixed;
    color: var(--txwhite);
    width: 99%;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--link-blue);
}

h1,
h2,
h3,
h4 {
    line-height: calc(var(--spacing)*8);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-weight: 610;
}

nav {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: unset;
        list-style-type: none;
        padding: 0;
        overflow: hidden;

        li {
            a {
                display: block;
                text-align: center;
                padding-block: calc(var(--spacing)*3.5);
                padding-inline: calc(var(--spacing)*4);
                text-decoration: none;
                font-size: calc(var(--spacing)*4.4);

                &:hover {
                    background-color: var(--color-blue-fade);
                    color: inherit;
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: calc(var(--spacing)*20);
}

html {
    scrollbar-color: #141414 #000000;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: #222222;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* REUSABLES */

.bg-gray-l {
    background-color: var(--color-gray-light);
}

.main-container {
    display: flex;
    margin-block: calc(var(--spacing)*16);
    margin-inline: auto;
    padding-block: var(--upperpadding);
    padding-inline: var(--upperpadding);
    flex-direction: column;
    width: clamp(8rem, 90%, 63rem);
}

.main-pair {
    display: flex;
    justify-content: center;
}

.main-single-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: clamp(40rem, 80%, 60rem);
    padding: calc(var(--spacing)*5);
}

.main-single-child {
    width: clamp(8rem, 100%, 59rem);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: inherit;
}

.pagination-page {
    margin: calc(var(--spacing)*2.5);
}

.pagination-current {
    color: var(--cyan);
    margin: calc(var(--spacing)*2.5);
}

.icon-small {
    max-width: calc(var(--spacing)*5);
    margin-right: 0.3rem;
    translate: 0 4px;
}

.bar-right {
    width: clamp(10rem, 80%, 12.5rem);
    line-height: calc(var(--spacing)*6);
    margin-left: -0.2rem;
    padding-top: 0;
    padding-bottom: calc(var(--spacing)*4);
    padding-inline: calc(var(--spacing)*8);
    border-radius: var(--border-radius);
    height: fit-content;

    h3 {
        font-weight: 600;
        padding-block: 0;
        padding-inline: calc(var(--spacing));
    }
}

.border {
    border: 1px solid;
}

.border-color {
    border-color: var(--color-border);
}

.text-center {
    text-align: center;
}


.tag-field {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: calc(var(--spacing)*2.4);
}

/* CLASSES */

.afirnyt {
    height: calc(var(--spacing)*12);

    ul {
        display: flex;
        height: 100%;
    }

    li {
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--color-blue-fade);
        }
    }
}

.hrugnrs {
    line-height: calc(var(--spacing)*4);
    margin-top: calc(var(--spacing)*8);
}

.ytueogr {
    margin-block: calc(var(--spacing)*12);
}

.iafrtsf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btrueir {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--spacing)*6);
}

.cnrtiep {
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid;
    border-color: var(--color-border);
    border-radius: calc(var(--spacing)*4);
    padding-bottom: calc(var(--spacing)*2.4);
    width: clamp(30rem, 70%, 80rem);
    justify-self: center;
    align-self: center;
}

.tpagrit {
    height: 100%;
    border: 1px solid;
    border-color: var(--color-border);
    border-radius: calc(var(--spacing)*4);
    padding-bottom: calc(var(--spacing)*2.4);
    justify-self: center;
    align-self: center;
}

.aorgnfk {
    list-style: none;
    padding-block: 0;
    padding-inline: calc(var(--spacing));
    font-size: calc(var(--spacing)*3.6);
    color: var(--color-fade);
}

.aokrtwa {
    color: var(--link-blue);
    font-style: italic;
    margin-top: calc(var(--spacing)*8);
}

.diyfsd {
    display: block;
    margin-top: calc(var(--spacing)*10);
    margin-bottom: 0;
    margin-inline: auto;
    width: calc(var(--spacing)*30);
    height: auto;
}

.tyfdgs {
    margin: 2.75rem 8% 1.25rem 7.5%;
}

.sieimee {
    margin-bottom: calc(var(--spacing)*2);
    width: calc(var(--spacing)*48);
}

.easjfre {
    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }
}

@media only screen and (max-width: 800px) {
    body {
        overflow-x: scroll;
        /* width: unset; */
        background-color: #0f0f0f;
        background-attachment: fixed;
    }

    .toc {
        display: none;
    }

    nav ul {
        margin: 0;
        min-width: unset;
    }

    nav ul li a {
        padding-block: 0;
        padding-inline: calc(var(--spacing));
    }


    .main-container {
        margin-block: calc(var(--spacing)*16);
        padding-right: 0;
    }

    .main-pair {
        margin-block: calc(var(--spacing)*5);
        padding: 0 0 1.25rem 0;
        flex-direction: column;
        align-items: center;
    }

    .main-single-center {
        padding: var(--default-mobile);
        margin: var(--default-mobile);
        width: clamp(20rem, 100%, 50rem);
    }

    .main-single-child {
        width: unset;
    }

    .bar-right {
        font-size: calc(var(--spacing)*5);
        line-height: calc(var(--spacing)*8);

        a {
            color: #c1cbff;
        }
    }

    .btrueir {
        display: revert;
        max-width: 100vh;
        margin-left: 0;
    }

    .tpagrit {
        border: none;
    }

    .cnrtiep {
        border: none;
        width: 100%;
    }
}
