@charset "UTF-8";

.post {
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    max-width: 47.6rem;
}

.post-info {
    flex: 1;
    top: 0;
    width: 17vh;
    margin-left: 0.75rem;
    height: auto;
}

.post-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 46.75rem;

    h2 {
        justify-content: left;
    }
}

.post-title {
    color: var(--title-blue);
    font-size: 2.2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    font-weight: 399;
    font-style: italic;
    text-transform: none;
    text-align: left;
    margin-left: 0;

    a:hover {
        color: rgb(80.5, 107.4362416107, 255);

    }
}


.post-date,
.post-idlepreview {
    color: var(--txgray);
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
}

.post-container {
    border-left: 2px solid var(--color-border);
    padding-left: 1rem;
    margin-left: 0;
    line-height: 1.5rem;
}

.post-header {
    margin: 1.25rem;
    padding-right: var(--contentmarginright);
    padding-left: 1.25rem;
    max-width: calc(var(--outerwidth) - var(--bar-width));

    img {
        width: 100%;
        height: auto;
        max-width: calc(var(--outerwidth) - var(--bar-width) - 6.25rem);
        max-height: auto;
        margin-top: 0.875rem;
        display: block;
        margin: auto;
    }
}

.post-content {
    --lh: 1.7rem;

    margin: 0 1.25rem 1.25rem;
    padding-right: var(--contentmarginright);
    padding-left: 1.25rem;
    max-width: calc(var(--outerwidth) - var(--bar-width));

    p {
        margin-block: 1rem;
        line-height: var(--lh);
    }

    a {
        color: var(--link-blue);
    }

    li {
        line-height: var(--lh);
    }

    h1 {
        text-align: inherit;
        margin: 0;
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.5rem;
        text-transform: none;
    }

    h3 {
        font-size: 1.3rem;
    }

    h3::before {
        content: "ãƒ¼";
    }

    blockquote {
        border-left: 0.25rem solid var(--title-blue);
        padding-left: 1rem;
        margin-left: 0;
        background-color: #000;
        padding-block: 0.1rem;
        color: #8dadbf;
        font-style: italic;
        margin-right: 0;
        padding-right: 1rem;
    }

    pre {
        background-color: #000;
        border: 2px solid var(--bgbottomblack);
        color: var(--txwhite);
        display: flex;
        padding: 1rem;
    }

    img {
        max-width: 90%;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }

    figcaption {
        text-align: center;
        font-style: italic;
        font-size: 0.9rem;
    }
}

.tag {
    margin-right: 0.6rem;
    background: #3e3e3e;
    padding: 0 0.6rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.tag:hover {
    background: rgb(36.5, 36.5, 36.5);
    color: var(--link-blue);
}

@media only screen and (max-width: 800px) {
    .post {
        max-width: 100vw;
    }

    .post-header {
        max-width: 100vw;
        margin: var(--default-mobile);
        line-height: 1.7rem;
    }

    .post-container {
        padding-left: 0;
    }

    .post-field {
        width: 90vw;
        margin: var(--default-mobile);
    }

    .post-content {
        margin: var(--default-mobile);
    }
}

.toc {
    position: absolute;
    top: 10rem;
    padding: 0.6rem 1.4rem;

    h2 {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 0;
    }

    ul {
        margin-top: 0;
        list-style: none;
        padding-left: 1.25rem;
        font-size: 0.9rem;
    }
}

.bsm {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
